asgiref==3.5.2
Django==3.2.16
django-js-asset==2.0.0
django-mptt==0.14.0
django-mptt-admin==2.3.0
flake8==6.0.0
isort==5.11.2
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
python-dotenv==0.21.0
pytz==2022.6
sqlparse==0.4.3
